<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-label>Enjoy!</ion-label>
    <ion-card-content>
      Your very own appointment scheduling app. For greater organisation, for more precision, 
      for higher efficiency!
    </ion-card-content>
  </ion-item>
  
  <ion-item>
    <ion-label>Enhance!</ion-label>
    <ion-card-content>
      Your very own appointment scheduling app. For greater organisation, for more precision, 
      for higher efficiency!
    </ion-card-content>
  </ion-item>

  <ion-item>
    <ion-label>Elevate</ion-label>
    <ion-card-content>
      Your very own appointment scheduling app. For greater organisation, for more precision, 
      for higher efficiency!
    </ion-card-content>
  </ion-item>
</ion-list>

<ion-card>
  <img src="https://images.pexels.com/photos/5999807/pexels-photo-5999807.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" height="400" width="100%">
</ion-card>
</ion-content>
