<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    
    <ion-title style="color:#3880ff"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
     <h1 style="color:#3880ff">View Appointments</h1> 
    </ion-list-header>
<br><br>
    <ion-item lines="inset" *ngFor="let appointment of appointments">
      <ion-label>
        <h3>{{ appointment.full_name }} | {{ appointment.email }} </h3>
        <p>{{ appointment.appointment_type }} for {{ appointment.staff_member }}</p>
        <p>at: {{ appointment.day }} | {{ appointment.appointment_date }} | {{ appointment.appointment_time }}</p>
      </ion-label>

      <div class="item-note">
        <ion-icon name="pencil-outline" style="zoom: 2.0;"  [routerLink] = "['/update-appointment',appointment.id]"></ion-icon>
        <ion-icon name="trash-outline" style="zoom: 2.0;" (click)="deleteAppointment(appointment.id)"></ion-icon>
      </div>
    </ion-item>

  </ion-list>
</ion-content>
