<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Appointment System</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://images.pexels.com/photos/273153/pexels-photo-273153.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" height="200" width="100%">
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Welcome</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Your very own appointment scheduling app. For greater organisation, for more precision, 
      for higher efficiency!
    </ion-card-content>
    <ion-item>
      <ion-button fill="outline" slot="end" href="#">Learn More</ion-button>
    </ion-item>
  </ion-card>
  
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" size="6" class="ion-text-center">
        <ion-button color="primary" expand="full" class="ion-text-wrap min-max-width" href="#">Register</ion-button>
      </ion-col>

      <ion-col size-sm="6" size="6" class="ion-text-center">
        <ion-button color="primary" expand="full" class="ion-text-wrap min-max-width" href="#">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
